# Question 1 : Discuss string slicing and provide examples.

## Answer 1 : 

Strings in python are indexed with first character at index 0, second character at 1, and so on..Negative indices starting at -1 to the last character, -2 to the second last and so on..

The basic syntax for slicing a string :
string[start:stop:step]

'start' indicates the index from where the slice starts. 
'stop' indicates the index where the slice ends. 
'step' arguments can be used to skip characters.

In [2]:
a = "Hello World!"
a[0:4]   # Slices from the start to the 4th character (index 4, but doesn't include it)

'Hell'

In [3]:
b = "Intelligent girl!"
b[1:5:2]   # Starts at index 1, stop at index 5, step 2

'ne'

Omitting start and stop : Omitting start will default it to 0 and omitting stop will default it to the length of the string.

In [4]:
b = "Intelligent girl!"
b[:]   # Extracting the entire string

'Intelligent girl!'

In [5]:
b[:11]   #Extracting from the beginning to index 11 but doesn't include it

'Intelligent'

In [6]:
b[11:]   #Extracting from the index 11 to the end

' girl!'

Negative indexing : Negative indices can be used to slice from the end of the string.

In [7]:
b = "Intelligent girl!"
b[-5:-1]   # Extracting 'girl' using negative indexing

'girl'

In [9]:
b[-1:]   # Extracting the last character

'!'

In [10]:
b[::2]   # Extracting every second character (step argument)

'Itlietgr!'

In [11]:
b[::-1]   # Reversing the string using a negative step

'!lrig tnegilletnI'

# Question 2 : Explain the key features of lists in Python.

## Answer 2 :

The key features are :

1. Lists are ordered collection of elements that can be of any data type. 
2. It can store heterogeneous data types (integers, strings, floats or any other lists).
3. Lists are mutable, that is we can change, add or remove elements after list has been created.
4. We can access elements by their index or slice them.
5. We can add or remove elements dynamically as lists do not have a fixed size.
6. Lists have wide range of built-in functions, eg: len(), sort(), count(), remove(), pop()
7. Lists are iterable, we can loop through the elements using for loop or other iteration methods.
8. Lists can contain other lists, creating a nested structure.

In [12]:
l = [1,2,2.3,True,'Apple',[3,9,0]]  # Heterogeneous elements
l

[1, 2, 2.3, True, 'Apple', [3, 9, 0]]

In [13]:
l[4] = 'Banana'  # Changing 'Apple' to 'Banana' (Mutable feature)
l

[1, 2, 2.3, True, 'Banana', [3, 9, 0]]

In [14]:
num = [1,2,3,4]
num.append(5)   # Adding an element
print(num)

[1, 2, 3, 4, 5]

In [16]:
num = [1,2,3,4]
NUM = [5,8,9,6]
num.extend(NUM)   # Num get extended to num 
num

[1, 2, 3, 4, 5, 8, 9, 6]

In [17]:
num = [1,2,3,4,5,8,9,6]
num[1:5]   # Starts at index 1, the slice stops just before index 5, it includes elements up to index 4

[2, 3, 4, 5]

In [18]:
name = [['a','c'],['d','k'],[1.8,'j']]
name[1][1]   # Accessing nested list

'k'

In [19]:
num = [1,2,3,4,5,8,9,6]
num.sort()   # Sorts the list in ascending order
print(num)

[1, 2, 3, 4, 5, 6, 8, 9]

In [20]:
bucket_list = ['potato','brinjal','pumpkin','tomato','onion','egg']
for bucket_list in ['potato','brinjal','pumpkin','tomato','onion','egg']:   
    print(bucket_list)

potato
brinjal
pumpkin
tomato
onion
egg

# Question 3 :  Describe how to access, modify, and delete elements in a list with examples.

## Answer 3 :

Accessing elements in a list : We can access elements of a list using indexing and slicing.
    
Indexing :  Lists are zero-indexed,that is the first element has an index of 0, the second element has an index of 1, and so on.. You can also use negative indexing to access elements from the end of the list.

In [21]:
bag = ['potato','brinjal','pumpkin','tomato','onion','egg']
bag[2]

'pumpkin'

In [22]:
bag[-2]

'onion'

Slicing : Accessing multiple elements using slicing.

In [23]:
bag = ['potato','brinjal','pumpkin','tomato','onion','egg']
bag[1:5]

['brinjal', 'pumpkin', 'tomato', 'onion']

Modifying elements in a list : Lists are mutable that means we can change and modify the value of elements after the list is created.

We can modify any element by assigning a new value to a specific index.

In [24]:
bag = ['potato','brinjal','pumpkin','tomato','onion','egg']
bag[1] = 'milk'   # Modifying the second element
print(bag)

['potato', 'milk', 'pumpkin', 'tomato', 'onion', 'egg']

In [25]:
bag = ['potato','brinjal','pumpkin','tomato','onion','egg']
bag[1:3] = ['carrot','juice']   # Modifying multiple elements
print(bag)

['potato', 'carrot', 'juice', 'tomato', 'onion', 'egg']

Deleting elements in a list : 
    
Using del keyword :

In [26]:
bag = ['potato','brinjal','pumpkin','tomato','onion','egg']
del bag[1]   # Deleting the second element
print(bag)

['potato', 'pumpkin', 'tomato', 'onion', 'egg']

In [27]:
bag = ['potato','brinjal','pumpkin','tomato','onion','egg']
del bag[1:4]   # Deleting slice of elements
print(bag)

['potato', 'onion', 'egg']

Using remove() to delete the first occurance of a specified value.

In [28]:
name = ['a','b','k','u','a']
name.remove('a')   # Removing the first 'a'
print(name)

['b', 'k', 'u', 'a']

Using pop() to remove last element of the list.

In [29]:
num = [10,20,50,30,90,70]
num.pop()
print(num)

[10, 20, 50, 30, 90]

Using clear() to remove all elements from the list.

In [30]:
num = [10,20,50,30,90,70]
num.clear()   # Clearing the list
print(num)

[]

# Question 4 :  Compare and contrast tuples and lists with examples.

## Answer 4 :

1. Both Tuples and Lists are ordered collection of elements. But Lists are mutable , i.e items can be added, removed or modified. Tuples are immutable, means once they are created, their contents cannot be changed.

In [31]:
list = [1,2,3,4]
list[0] = 5   # Modifying the first element
print(list)

[5, 2, 3, 4]

In [32]:
tuple = (1,2,3,4)
tuple[0] = 5   # It will raise an error
print(tuple)

TypeError: 'tuple' object does not support item assignment

2. Lists have more built-in methods than tuples. It supports operations like append, sort, remove. Tuples have fewer methods due to their immutability.

In [33]:
list = [1,2,3,4]
list.append(5)   # Adds an element to the list
print(list)

[1, 2, 3, 4, 5]

In [35]:
list = [1,2,3,4]
list.remove(3)   # Removes the element 3
print(list)

[1, 2, 4]

In [36]:
tuple = (1,4,2,3,4,5,9,4)
print(tuple.count(4))   # Counts the number of occurance of 4

3

In [37]:
tuple = (1,4,2,3,4,5,9,4)
print(tuple.index(2))   # Finds the index of the element 2

2

3. Lists are created using square brackets []. Tuples are created using parentheses ().

In [38]:
list = [1,2,3]
tuple = (1,2,3)
print(list)
print(tuple)

[1, 2, 3]
(1, 2, 3)

4. Lists are used when you have a collection of items that might change over time. Tuples are used to represent fixed collection of items where data should not change.

5. Both Lists and Tuples support indexing, which allows you to access individual elements by their position. 
   Both support slicing, which allows you to extract a subset of elements.

In [39]:
l = [1,2,3,4,5,6,7]
print(l[1:4])   # Elements from index 1 to 3
print(l[::2])   # Every second element

[2, 3, 4]
[1, 3, 5, 7]

In [40]:
t = (1,2,3,4,5,6,7)
print(t[:3])
print(t[::2])

(1, 2, 3)
(1, 3, 5, 7)

6. Tuples are generally faster than lists when it comes to iteration and access because of their immutability and fixed size.  Lists are slower because they are mutable and require additional memory handling for operations like resizing.

# Question 5 :  Describe the key features of sets and provide examples of their use.

## Answer 5 :

Key features are :

1. Sets are unordered collection of unique elements. Duplicate elements are removed. 
2. You can add or remove elements from a set. Sets are mutable. 
3. There is no concepts of indexing and slicing as sets are unordered and unique.
4. Sets support mathematical operation such as union, intersection, difference and symmetric difference.

In [41]:
# creating a set
bag = {'apple','milk','banana','milk'}  # Duplicate item will be removed
print(bag)

{'milk', 'apple', 'banana'}

In [42]:
# adding an element to the set 
bag = {'apple','milk','banana','milk'}
bag.add('tomato')
print(bag)

{'tomato', 'milk', 'apple', 'banana'}

In [43]:
# removing element from the set
bag = {'apple','milk','banana','milk'}
bag.remove('milk')
print(bag)

{'apple', 'banana'}

In [44]:
# Check if an element exists in the set
bag = {'apple','milk','banana','milk'}
print('milk' in bag)

True

In [45]:
s = {1,2,3,4}
for i in s:
    print(i)   # Iterating through the set using for loop

1
2
3
4

In [46]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# Union : combines elements from 2 sets excluding duplicates.
print(s1 | s2)

{1, 2, 3, 4, 5, 6}

In [47]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# Intersection : only common elements between sets.
print(s1 & s2)

{3, 4}

In [48]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# Difference : Elements in s1 not in s2.
print(s1 - s2)

{1, 2}

In [49]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# Symmetric Difference : elements in either set but not in both.
print(s1 ^ s2)

{1, 2, 5, 6}

# Question 6 :  Discuss the use cases of tuples and sets in Python programming.


## Answer 6 :

Use cases of Tuples :
    
1. Tuples are immutable, once they are created, their contents cannot be changed.
2. Tuples are ordered collection of elements.
3. Tuples are suitable for storing collections of related but different data types.
4. You can concatenate 2 or more tuples to form a new one without modifying the original data.
5. Tuples are more memory efficient than lists. For large datasets , tuples can save memory and improve performance during iteration.
6. Another use case of tuples is swapping variables without needing a temporary variable.

In [50]:
box1 = ('a','b')
box2 = ('c','d')
choc_box = (box1,box2)   # Tuples in tuple
choc_box

(('a', 'b'), ('c', 'd'))

In [52]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2   # Combining tuples
print(t3)

(1, 2, 3, 4, 5, 6)

In [53]:
a = 2
b = 4
a , b = b , a   # Swapping values
print(a , b)

4 2

Use cases of Sets :
    
1. Sets are unordered collection of unique elements. Duplicate elements are removed.
2. You can add or remove elements from a set using methods like add(), discard(), remove() . Sets are mutable. 
3. Sets support mathematical operation such as union, intersection, difference and symmetric difference.
4. update() method adds multiple elements from another set or iterable, modifying the original set.
5. Frozenset is the immutable version of set, which cannot be changed after creation.
6. Set comprehension allows you to construct sets with expressions in a concise way.

In [54]:
# adding an element to the set 
bag = {'apple','milk','banana','milk'}
bag.add('tomato')
print(bag)

{'tomato', 'milk', 'apple', 'banana'}

In [55]:
# removing element from the set
bag = {'apple','milk','banana','milk'}
bag.remove('milk')
print(bag)

{'apple', 'banana'}

In [56]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# Union : combines elements from 2 sets excluding duplicates.
print(s1 | s2)

{1, 2, 3, 4, 5, 6}

In [57]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# Intersection : only common elements between sets.
print(s1 & s2)

{3, 4}

In [58]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# Difference : Elements in s1 not in s2.
print(s1 - s2)

{1, 2}

In [59]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# Symmetric Difference : elements in either set but not in both.
print(s1 ^ s2)

{1, 2, 5, 6}

In [61]:
s = {1,2,6}
s.update([2,3,4,6])   # Set updating with update()
s

{1, 2, 3, 4, 6}

In [63]:
# Frozenset
f = frozenset([1,2,3,4,5])
f.add(9)    # Raises an error (immutable)

AttributeError: 'frozenset' object has no attribute 'add'

In [65]:
num = [1,2,3,4,5,]
squared_set = {x ** 2 for x in num}   # Set comprehension
print(squared_set)

{1, 4, 9, 16, 25}

# Question 7 :  Describe how to add, modify, and delete items in a dictionary with examples.

## Answer 7 :

Adding items to a dictionary :

1. You can add new key-value pairs to a dictionary by simply assigning a value to a new key using the assignment operator = .

In [66]:
d = {'name':'Ana','age':14,'class':9}
d['location'] = 'Kolkata'   # adding a new key-value pair
print(d)

{'name': 'Ana', 'age': 14, 'class': 9, 'location': 'Kolkata'}


Modifying items in a dictionary :
    
1. To modify an existing item in a dictionary, simply assign a new value to an existing key. If the key exists, its value will be overwritten.
2. update() method in Python dictionaries allows you to add or update multiple key-value pairs at once. It can take either another dictionary or an iterable of key-value pairs as its argument.

In [67]:
d = {'name':'Ana','age':14,'class':9}
d['class'] = 8   # modifying an existing key-value pair
print(d)

{'name': 'Ana', 'age': 14, 'class': 8}

In [68]:
d = {'name':'Ana','age':14,'class':9}
d.update({'location':'Mumbai','contact':1234})   # adding new key-value pairs using update()
print(d)

{'name': 'Ana', 'age': 14, 'class': 9, 'location': 'Mumbai', 'contact': 1234}

Deleting items from a dictionary :
    
1. del keyword removes a key-value pair based on the key. If the key doesn't exist, it raises a KeyError.
2. pop() method removes the specified key and returns its value. If the key doesnâ€™t exist, you can provide a default value, otherwise it raises a KeyError.
3. clear() method removes all items from the dictionary, leaving it empty.

In [69]:
d = {'name':'Ana','age':14,'class':9}
del d['class']   # deleting an item using del()
print(d)

{'name': 'Ana', 'age': 14}

In [70]:
d = {'name':'Ana','age':14,'class':9}
new_d = d.pop('class')   # removing and returning the value of a key
print(new_d)
print(d)

9
{'name': 'Ana', 'age': 14}

In [71]:
d = {'name':'Ana','age':14,'class':9}
d.clear()   # clearing all items
print(d)

{}

# Question 8 :  Discuss the importance of dictionary keys being immutable and provide examples.

## Answer 8 :

 Dictionary keys need to be immutable because their role is to uniquely identify each value in a dictionary. 

1. If keys could change, it would be hard to keep track of whoch value they point to.
2. Dictionaries use hashing to quickly find values. 
3. You can use the zip function to create a dictionary from two lists: one for keys and one for values. The zip function pairs elements from each list together.
4. Integers, floats, and booleans are immutable and can be used as dictionary keys.

In [72]:
d = {'name':'Ana','age':14,'class':9}
# 'name', 'age', 'class' are immutable strings and served as valid dictionary keys.
print(d)

v = {(1,2):'a' , (3,4):'b'}
# tuples are immutable as long as they contain only immutable elements.
print(v)

{'name': 'Ana', 'age': 14, 'class': 9}
{(1, 2): 'a', (3, 4): 'b'}

In [73]:
l = {[1,2]:'a' , [3,4]:'b'}
# lists are mutable so they cannot be used as dictionary keys.
print(l)   # this will throw an error.

TypeError: unhashable type: 'list'

In [74]:
g = {1:'one' , 2:'two'}
# 1 and 2 are immutable and work as dictionary keys.
print(g)

{1: 'one', 2: 'two'}

In [75]:
n = {{1:'one'}:'another'}
# {1:'one'} is mutable dictionary so cannot be used as key.
print(n)   # this will throw an error.

TypeError: unhashable type: 'dict'

In [76]:
h = {True:'yes' , False:'no'}
# Booleans (True and False) are immutable and valid dictionary keys.
print(h)

{True: 'yes', False: 'no'}

In [77]:
keys = ['name','age','location']
values = ['Ana','13','Mumbai']
# Using zip and dict to create a new dictionary.
d = dict(zip(keys, values))
print(d)

{'name': 'Ana', 'age': '13', 'location': 'Mumbai'}